version: 2
updates:

  - package-ecosystem: github-actions
    directory: "/.github/workflows"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    assignees:
      - "renehezser"

  - package-ecosystem: pip # also includes poetry
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    assignees:
      - "renehezser"