name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  publish-to-pypi:
    name: Publish to PyPi
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Publish package
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      run: |
        uv build
        uv publish --token $PYPI_TOKEN
